<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Build All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>FlurryAds.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>FlurrySDK.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FlurryTVOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>FlurryTumblrAPI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>FlurryWatchOSSDK.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>FlurryWatchSDK.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3C34A1361DA992D300FE599B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C34A13F1DA992D300FE599B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C34A1601DA9944E00FE599B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C34A1851DA995B500FE599B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C34A19A1DA9964400FE599B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C34A1B61DA996DC00FE599B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C34A1F81DA997FB00FE599B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C34A2221DA9991700FE599B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
